.main-footer {
    overflow: hidden;
    background-color: $white;

    &__container {
        position: relative;
        height: 5rem;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $small) {
            width: 100%;
            flex-direction: column;
            height: 20rem;
            justify-content: space-around;
        }
    }

    &__logo {
        align-items: center; 
        margin-top: -2rem;
        margin-bottom: -2rem; 
        @media (max-width: $small) {
            flex-direction: column;
            margin-top: -4rem;
        }
    }

    &__copywrite {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: $small) {
            position: static;
            transform: none;
            order: 3;
        }
    }

    &__social-list {
        font-size: 2rem;
    }

    &__social-item {
        margin-left: 1rem;
        &:first-child {
            margin-left: 0;
        }
        @media (max-width: $small) {
            margin-bottom: 2rem;
        }
    }
}