.projects {
    &__header {
        align-items: center;
    }
    &__button {
        align-self: center;
        margin-left: auto;
        font-weight: bold;
    }

    &__display {
        height: 40rem;
        overflow: hidden;
        margin: 0 auto;
        @media (max-width: $large) {
            width: 100%;
        }
        @media (max-width: $medium-large) {
            flex-direction: column;
            height: auto;
        }
    }

    &__img {
        &-container {
            width: 100%;
            height: 100%;
            position: relative;
        }
        height: 100%;
        width:100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__info-container {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform .5s;
        &:hover {
            transform: translateY(-6.5rem)
        }
    }

    &__info {
        background-color: $translucent-black;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -3.75rem;
        padding: 1.25rem;
    }

    &__type {
        color: $grey;
        font-size: 1rem;
        font-weight: 300;
    }

    &__building-name {
        color: $white;
        font-size: 2.25rem;
        &:hover {
            color: $yellow;
        }
    }

    &__col {
        width: 50%;
        @media (max-width: $medium-large) {
            width: 100%;
            height: 25rem;
        }
    }

    &__row {
        &--bottom {
            height: 50%;
            
        }
        &--top {
            height: 50%;
        }
    }
}