.specialties {
    &__row {
        justify-content: space-between;
        @media (max-width: $medium-large) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    
    &__item {
        border: 1px solid $grey;
        width: 22.5%;
        box-sizing: border-box;
        padding: 1.5rem;
        font-size: 1rem;
        line-height: 1.5em;
        color: grey;

        @media (max-width: $medium-large) {
            width: 45%;
            border: none;
        }
        @media(max-width: $small) {
            width: 90%;
        }

        &-header {
            align-items: center;
            margin-bottom: 1.25rem;
        }

        &-logo {
            font-size: 2.4em;
            margin-right: 1rem;
        }

        &-title {
            color: $black;
            font-weight: 600;
            font-size: 1em;
            justify-self: flex-start;
        }
    }
    &__title {
        @media (max-width: $medium-large) {
            margin-bottom: 2rem;
        }
    }
}