.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;

    &--padding {
        width: 80%;
        padding: 0 5%;
        margin: 0 auto;
    }
}


.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.seperator {
    color: black;
    width: 100%;
    border: 0;
    height: 0;
    border-bottom: 1px solid $grey;
    margin: 5rem 0;
}

.title {
    padding-left: 3rem;
    margin: 5rem 0;
    border-left: 4px solid $yellow;
    font-size: 1.6rem;
    font-weight: 600;
}

.button {
    align-self: flex-start;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
    padding: 0;
}