.container {
    width: 80%;
    box-sizing: border-box;

    &--padding {
        margin: 0 auto;
        width: 80%;
        padding: 0 5%;
        box-sizing: border-box;
        background-color: $white;
        @media (max-width: $large) {
            width: 100%;
        }

        &-border {
            padding: 5%;
            border: 1px solid $grey;
        }
    }
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.seperator {
    color: black;
    width: 100%;
    border: 0;
    height: 0;
    border-bottom: 1px solid $grey;
    margin: 5rem 0;

    &--vertical {
        width: 4px;
        margin: 0 5%;
        background-color: black;

    }
}

.title {
    padding-left: 3rem;
    margin: 5rem 0;
    border-left: 4px solid $yellow;
    font-size: 1.6rem;
    font-weight: 600;
    &--reverse {
        padding-left: 0;
        padding-right: 3rem;
        border-left: 0;
        border-right: 4px solid $yellow;
    }
}

.button {
    align-self: flex-start;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
    background-color: $white;
    padding: 0;
}

.main-container {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &--first {
        padding-bottom: 0;
    }

    &--bottom {
        @media(max-width: $small) {
            flex-direction: column;
        }
    }
}

.hidden--small {
    @media(max-width: $small) {
        display: none;
    }
}

.logo {
    height: 7.5rem;
    width: 7.5rem;
    &--footer {
        height: 5rem;
        width: 5rem;
        margin-top: -.75rem;
        @media (max-width: $small) {
            height: 15rem;
            width: 15rem;
        }
    }
}

.logo_name {
    text-transform: uppercase;
    margin-left: -1rem;
    @media (max-width: $small) {
        font-size: 3.7rem;
        margin-left: 0;
        margin-top: -3.5rem;
        margin-bottom: 2rem;
    }
}